@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --text-color-main: #000;
    --text-color-main-hover: #4a21a7;
    --bg-color-accent: #cfc7b0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color-main);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    padding: 40px 0;
}

section h3 {
    margin-bottom: 40px;
}


/* HEADER */
#navbar {
    background-color: rgba(0, 0, 0, .75);
}

#logo {
    height: 50px;
}
#get-consultation-btn {
    margin: 10px 0;
}

#consultationModal [type=submit] {
    background-color: var(--text-color-main-hover);
    border-color: var(--text-color-main-hover);
}
#consultationModal [type=submit]:hover {
    background-color: #561cdd;
    border-color: #561cdd;
}



/* MAIN */
main {
    flex: 1 0 auto;
}

#main-section {
    position: relative;
    height: 70vh;
    background: url("../images/cyber-security.webp") no-repeat center / cover;
}  

#cover-text {
    position: absolute;
    bottom: 100px;
    left: 30px;
    width: 80%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(255,255,255,.7);
}

#threats-types {
    padding-top: 10px;
}

#threats-types [class^='col-'] {
    margin-bottom: 15px;
}

.threats-types__card .btn {
    background-color: #e4e4e4;
}

.threats-types__card .btn:hover {
    background-color: var(--text-color-main-hover);
    border-color: var(--text-color-main-hover);
    color: #fff;
}

.threats-types__description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.security-video {
    padding-bottom: 40px;
}




/* ARTICLES PAGE */
#articles {
    margin-top: 76px;
}

.articles__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

#articles [class^='col-'] {
    margin-bottom: 20px;
}

.articles__card {
    color: var(--text-color-main);
}

.articles-item:hover {
    text-decoration: none;
    transition: .2s ease;
}

.articles__title {
    color: var(--text-color-main-hover);
}
/* ARTICLES PAGE END */



/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 16px;
    background-color: var(--bg-color-accent);
} 

.footer-navigation ul {
    display: flex;
    flex-direction: column;
}

.footer-navigation li {
    margin-bottom: 5px;
}

.footer-navigation li:last-child {
    margin-bottom: 0;
}

.footer-navigation a {
    color: var(--text-color-main);
    font-size: 14px;
}

.footer-navigation a:hover {
    text-decoration: none;
    color: var(--text-color-main-hover);
    transition: .2s ease;
}

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#social-networks {
    display: flex;
    margin-bottom: 16px;
}

#social-networks li {
    margin-right: 20px;
}
#social-networks li:last-child {
    margin-right: 0;
}

#social-networks i {
    font-size: 30px;
    color: var(--text-color-main);
}

#social-networks i:hover {
    color: var(--text-color-main-hover);
    transition: .2s ease;
}

.footer-copyright {
    white-space: nowrap;
}


/* very small phones */
@media screen and (min-width: 320px) {
    .footer-navigation a {
        font-size: 16px;
    }
}

@media screen and (min-width: 576px) {
    #footer-container {
        flex-direction: row;
        align-items: center;
    }
    #social-networks {
        margin-bottom: 0;
        margin-right: 40px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #get-consultation-btn {
        margin: 0 0 0 20px;
    }

    .articles-item:hover {
        transform: scale(1.07);
    }

    footer {
        height: 80px;
    } 
    .footer-navigation ul {
        flex-direction: row;
    }
    .footer-navigation li {
        margin-right: 20px;
        margin-bottom: 0;
    }
    .footer-navigation li:last-child {
        margin-right: 0;
    }
    #footer-container {
        flex-basis: calc(50% + 80px);
        justify-content: space-between;
    }
}